apiVersion: v1
kind: Secret
metadata:
  name: database-credentials
  namespace: ecommerce
  labels:
    app: ecommerce
    managed-by: kustomize
stringData:
  username: postgres
  password: postgres
---
apiVersion: v1
kind: Secret
metadata:
  name: jwt-secret
  namespace: ecommerce
  labels:
    app: ecommerce
    managed-by: kustomize
stringData:
  jwt-secret-key: change-me

