# Ejemplo de variables para Terraform con autenticación por contraseña
# Copia este archivo como terraform.tfvars y ajusta los valores

prefix           = "ecom-ms"
location         = "eastus"
admin_username   = "azureuser"

# Default sugerido: P@ssword1-2025! (cumple políticas más estrictas). Puedes cambiarlo si lo deseas.
admin_password   = "P@ssword1-2025!"

# Si deseas además permitir acceso por clave SSH, deja aquí tu clave pública (opcional)
ssh_public_key   = ""

# Restringe los accesos a tu IP pública si es posible
allowed_source_ip = "0.0.0.0/0"   # Reemplaza por "X.X.X.X/32" si puedes

# Tamaños de VM (puedes ajustarlos)
app_vm_size = "Standard_B2s"
ci_vm_size  = "Standard_B4ms"
